.navbar-brand{
    line-height: 120px;
    height: 120px;
    padding-top: 20px;
    padding-left: 40px;
}

.nav a{
    font-family: "Perpetua Titling MT";
    padding-right: 20px !important;
    padding-top: 30px !important;
    color: #4E4E4E !important;
    font-size: 1.8em;
}

.nav li{
    padding-right: 5px !important;
}

.navbar-right{
    padding-right: 30px !important;
}

#lang {
    padding-right: 0px !important;
    font-size: 1.1em !important;
}

#title{
    color: #158cba;
}

body {
    font-family: "Perpetua";
    height: 100%;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 950px; /*slider height*/
}

.carousel .item img {
    width: 100%; /*img width*/
}

form textarea#message{
    height: 150px;
}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
