{% extends "layout.html" %}
{% block title %} - {{page}}{% endblock %}
{% block page %} / Account{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    {% if session['logged_in'] %}
        <h2><p>Admin page:</p></h2>
        <h4><p>{{message}} [ID:{{id}}]</p></h4>
        <p>
            <a href="/admin/user">user</a> |
            <a href="/admin/party">party</a> |
            <a href="/admin/stock">stock</a> |
            <a href="/admin/product">product</a> |
            <a href="/admin/sale">sale</a> |
            <a href="/admin/invoice">invoice</a>
        </p>
        {% if db_list %}
        {% for n in db_list %}
        <div class="row">
            <div class="col-md-2">
                <p>Party: {{n.id}}</p>
            </div>
            <div class="col-md-10">
                <p>&nbsp;&nbsp;{{ _('Name') }}: {{n.name}}</p>
                <p>&nbsp;&nbsp;{{ _('Code') }}: {{n.codee}}</p>
                <p>&nbsp;&nbsp;{{ _('Active') }}: {{n.active}}</p>
                <ul>
                    {% for o in n.addresses %}
                    <li>{{o.id, o.city, o.name, o.zip, o.subdivision, o.streetbis,
                        o.street, o.country.name, o.active, o.delivery, o.invoice}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if stock_list %}
        {% for n in stock_list %}
        <div class="row">
            <div class="col-md-2">
                <p>Inventory: {{n.id}}</p>
            </div>
            <div class="col-md-10">
                <p>&nbsp;&nbsp;{{ _('Currency') }}: {{n.currency}}</p>
                <p>&nbsp;&nbsp;{{ _('Unit Price') }}: {{n.unit_price}}</p>
                <p>&nbsp;&nbsp;{{ _('Shipment') }}: {{n.shipment}}</p>
                <p>&nbsp;&nbsp;{{ _('Effective Date') }}: {{n.effective_date}}</p>
                <p>&nbsp;&nbsp;{{ _('UOM') }}: {{n.uom}}</p>
                <p>&nbsp;&nbsp;{{ _('Cost Price') }}: {{n.cost_price}}</p>
                <p>&nbsp;&nbsp;{{ _('Product') }}: {{n.product}}</p>
                <p>&nbsp;&nbsp;{{ _('From Location') }}: {{n.from_location}}</p>
                <p>&nbsp;&nbsp;{{ _('To Location') }}: {{n.to_location}}</p>
                <p>&nbsp;&nbsp;{{ _('Quantity') }}: {{n.quantity}}</p>
                <p>&nbsp;&nbsp;{{ _('Invoice Address') }}: {{n.invoice_address}}</p>
                <p>&nbsp;&nbsp;{{ _('Shipping Address') }}: {{n.shipping_address}}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if product_list %}
        {% for n in product_list %}
        <div class="row">
            <div class="col-md-2">
                <p>Product: {{n.id}}</p>
            </div>
            <div class="col-md-10">
                <p>&nbsp;&nbsp;{{ _('Currency') }}: {{n.name}}</p>
                <p>&nbsp;&nbsp;{{ _('Unit Price') }}: {{n.description}}</p>
                <p>&nbsp;&nbsp;{{ _('Shipment') }}: {{n.list_price}}</p>
                <p>&nbsp;&nbsp;{{ _('Effective Date') }}: {{n.consumable}}</p>
                <p>&nbsp;&nbsp;{{ _('UOM') }}: {{n.code}}</p>
                <p>&nbsp;&nbsp;{{ _('Cost Price') }}: {{n.cost_price}}</p>
                <p>&nbsp;&nbsp;{{ _('Product') }}: {{n.cost_price_method}}</p>
                <p>&nbsp;&nbsp;{{ _('From Location') }}: {{n.cost_price_uom}}</p>
                <p>&nbsp;&nbsp;{{ _('To Location') }}: {{n.forecast_quantity}}</p>
                <p>&nbsp;&nbsp;{{ _('Quantity') }}: {{n.purchasable}}</p>
                <p>&nbsp;&nbsp;{{ _('Invoice Address') }}: {{n.salable}}</p>
                <p>&nbsp;&nbsp;{{ _('Invoice Address') }}: {{n.taxes_category}}</p>
                <p>&nbsp;&nbsp;{{ _('Invoice Address') }}: {{n.type}}</p>
                <ul>
                {% for o in n.categories %}
                  <li>{{o.id, o.name, o.description}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if sale_list %}
        {% for n in sale_list %}
        <div class="row">
            <div class="col-md-2">
                <p>Sale: {{n.id}}</p>
            </div>
            <div class="col-md-10">
                <p>&nbsp;&nbsp;{{ _('Comment') }}: {{n.comment}}</p>
                <p>&nbsp;&nbsp;{{ _('Payment Term') }}: {{n.payment_term}}</p>
                <p>&nbsp;&nbsp;{{ _('Currency') }}: {{n.currency}}</p>
                <p>&nbsp;&nbsp;{{ _('Shipment method') }}: {{n.shipment_method}}</p>
                <p>&nbsp;&nbsp;{{ _('State') }}: {{n.state}}</p>
                <p>&nbsp;&nbsp;{{ _('Untaxed amount cache') }}: {{n.untaxed_amount_cache}}</p>
                <p>&nbsp;&nbsp;{{ _('Warehouse') }}: {{n.warehouse}}</p>
                <p>&nbsp;&nbsp;{{ _('Total amount cache') }}: {{n.total_amount_cache}}</p>
                <p>&nbsp;&nbsp;{{ _('Invoice Method') }}: {{n.invoice_method}}</p>
                <p>&nbsp;&nbsp;{{ _('Invoice Address') }}: {{n.invoice_address}}</p>
                <ul>
                {% for o in n.lines %}
                  <li>{{o.id, o.unit_price, o.quantity, o.product, o.type, o.unit, o.description}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if invoice_list %}
        {% for n in invoice_list %}
        <div class="row">
            <div class="col-md-2">
                <p>Invoice: {{n.id}}</p>
            </div>
            <div class="col-md-10">
                <p>&nbsp;&nbsp;{{ _('Currency') }}: n.payment_term</p>
                <p>&nbsp;&nbsp;{{ _('Unit Price') }}: n.description</p>
                <p>&nbsp;&nbsp;{{ _('Shipment') }}: {{n.currency}}</p>
                <p>&nbsp;&nbsp;{{ _('Effective Date') }}: {{n.move}}</p>
                <p>&nbsp;&nbsp;{{ _('UOM') }}: {{n.cancel_move}}</p>
                <p>&nbsp;&nbsp;{{ _('Cost Price') }}: {{n.state}}</p>
                <p>&nbsp;&nbsp;{{ _('Product') }}: {{n.party}}</p>
                <p>&nbsp;&nbsp;{{ _('From Location') }}: {{n.type}}</p>
                <p>&nbsp;&nbsp;{{ _('To Location') }}: {{n.invoice_address}}</p>
                <ul>
                {% for o in n.lines %}
                  <li>{{o.id, o.origin, o.currency, o.unit_price,
                        o.note, o.product, o.type, o.unit, o.invoice_type, o.quantity}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    {% else %}
    <div class="well">
		<p>You need to be <a href="/login/" target="blank"><strong>logged in</strong></a> to view this page.</p>
    </div>
	{% endif %}
</div>
{% endblock %}