{% extends "layout.html" %}
{% block title %} - {{page}}{% endblock %}
{% block page %} / {{ _('cart') }}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="well">
        <h2 id="title">{{ _('Items in cart') }}:</h2>
        {% if cart %}
          <ul>
            {% for n in cart %}
            <li>
                {{n.id, n.name, n.description, n.list_price}}
            </li>
              {% endfor %}
          </ul>
          <h3><a href="/checkout"><span class="label label-primary">{{ _('Checkout') }}</span></a></h3>
        {% else %}
          {{ _('cart_empty') }}
          <h3><a href="/shop"><span class="label label-primary">{{ _('back_to_shop') }}</span></a></h3>
        {% endif %}
    </div>
</div>
{% endblock %}
