{% extends 'layout.html' %}

{% block page_css %}
<style>
.navbar-wrapper {
    width: 100% !important;
    position: absolute;
    z-index: 10;
}
</style>
{% endblock %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="/static/images/bigpic.png" alt="First slide">
        </div>
        <div class="item">
            <img class="second-slide" src="/static/images/bigpic2.png" alt="Second slide">
        </div>
    </div>
</div>

{% endblock %}

{% block page_js %}
<script>
    $('.carousel').carousel({
        interval: 5000
    })
</script>
{% endblock %}
