<html lang="en">

<title>Milliondog</title>

<head>
    <meta charset="utf-8">
    <link type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/hover.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-image-gallery.min.css">
    {% block page_css %}
    {% endblock %}
</head>


<body>
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar transparent navbar-default navbar-static-top">
                <div class="navbar-inner">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-xs hidden-sm" href="/index">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" />
                        </a>
                        <a class="navbar-brand hidden-lg hidden-md" href="/index">
                            <img src="{{ url_for('static', filename='images/MillionDog_Logo_200x22.png') }}" />
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <a href="/setcurrency/CHF" id="lang">CHF</a>
                                    <a href="/setcurrency/EUR" id="lang">EUR</a>
                                    <a href="/setcurrency/USD" id="lang">USD</a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/setlang/en" id="lang">EN</a>
                                    <span> / </span>
                                    <a href="/setlang/de" id="lang">DE</a>
                                </div>
                            </div>
                            <li><a href="/index">Home</a></li>
                            <li><a href="/categories">Shop</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/about">About us</a></li>
                            <li><a href="/sendus">Send us</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/account">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" style="text-align: center;">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
                                {{ message | safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}
    <br><br><br>
	 <div class="container-fluid"  id="footer">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <a href="/shipping">{{ _('Payment & Shipping') }}</a>
              <a href="/returns" class="active">{{ _('Right of revocation') }}</a>
              <a href="/termsandconditions">{{ _('Terms & conditions') }}</a>
              <a href="/privacy">{{ _('Disclaimer') }}</a>
              <a href="/legal">{{ _('Legal info') }}</a>
            </div>
            <div class="col-md-4 col-sm-12 text-right" id="registered">
              2016 MillionDog - All rights reserved
            </div>
          </div>
        </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="/static/js/bootstrap-image-gallery.min.js"></script>
{% block page_js %}
{% endblock %}

</html>
