<html lang="en">

<title>Milliondog</title>

<head>
    <meta charset="utf-8">
    <link type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/hover.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="icon" href="/static/favicon.ico">
    {% block page_css %}
    {% endblock %}
</head>


<body>
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar transparent navbar-default navbar-static-top">
                <div class="navbar-inner">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-xs hidden-sm hidden-md" href="/index">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" />
                        </a>
                        <a class="navbar-brand hidden-lg" href="/index" style="padding-top: 40px">
                            <img src="{{ url_for('static', filename='images/MillionDog_Logo_200x22.png') }}" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <div class="row">
                                <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7"></div>
                                <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
                                    <a href="#" id="curr-chf" class="local">CHF</a>
                                    <a href="#" id="curr-eur" class="local">EUR</a>
                                    <a href="#" id="curr-usd" class="local">USD</a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="#" id="lang-en" class="local" style="padding-right: 0px !important">EN</a>
                                    <span>/</span>
                                    <a href="#" id="lang-de" class="local">DE</a>
                                    {% if session.cart_item_count|safe %}
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="/cart" class="local"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            [{{session['cart_item_count']}}]</a>
                                    {% endif %}
                                </div>
                            </div>
                            <li><a href="/index">Home</a></li>

                            <li class="dropdown">
                                <a href="/categories" role="button" aria-expanded="false">Shop <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/shop/Cosy-Bandana">Cosy-Bandana</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/shop/Cosy-Boomerang">Cosy-Boomerang</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/shop/Cosy-Loop">Cosy-Loop</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/shop/Cosy-Kaye">Cosy-Kaye</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/custom-made">{{ _('Custom-made') }}</a></li>
                                </ul>
                            </li>
                            <li><a href="/sendus"><font color="#a742ab">{{ _('Send us') }}</font></a></li>
                            <li><a href="/gallery">{{ _('Gallery') }}</a></li>
                            <li><a href="/about">{{ _('About us') }}</a></li>
                            <li><a href="/contact">{{ _('Contact') }}</a></li>
                            {% if session['logged_in'] %}
                                <li><a href="/logout">{{ _('Logout') }}</a></li>
                            {% else %}
                                <li><a href="/login">{{ _('Login') }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="well">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" style="text-align: center;">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
                            <h4>{{ message | safe }}</h4>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
    {% set navigation_bar = [
        ('/shipping', 'shipping', _('Payment and Shipping')),
        ('/returns/', 'returns', _('Right of revocation')),
        ('/termsandconditions/', 'termsandconditions', _('Terms and conditions')),
        ('/privacy/', 'privacy', _('Disclaimer')),
        ('/legal/', 'legal', _('Legal notice'))
    ] -%}
    <br><br>
    <footer class="footer">
        <div class="container-fluid"  id="footer">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    {% for href, id, caption in navigation_bar %}
                    <a href="{{ href|e }}"{% if id == active_page %} class="active"{% endif %}>
                    {{ caption }}</a>
                    {% endfor %}
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 text-right" id="registered">
                  2016 MillionDog - All rights reserved
                </div>
            </div>
        </div>
    </footer>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="/static/js/bootstrap-image-gallery.min.js"></script>

<script type="text/javascript">
    $(function(){
            $("#lang-de").click(function(){
                window.location = '/setlang/de' + window.location.pathname;
                return false;
            }); 
    });
</script>
<script type="text/javascript">
    $(function(){
            $("#lang-en").click(function(){
                window.location = '/setlang/en' + window.location.pathname;
                return false;
            }); 
    });
</script>
<script type="text/javascript">
    $(function(){
            $("#curr-chf").click(function(){
                window.location = '/setcurrency/CHF' + window.location.pathname;
                return false;
            }); 
    });
</script>
<script type="text/javascript">
    $(function(){
            $("#curr-usd").click(function(){
                window.location = '/setcurrency/USD' + window.location.pathname;
                return false;
            }); 
    });
</script>
<script type="text/javascript">
    $(function(){
            $("#curr-eur").click(function(){
                window.location = '/setcurrency/EUR' + window.location.pathname;
                return false;
            }); 
    });
</script>
{% block page_js %}
{% endblock %}

</html>
