{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div class="well">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend id="title">{{ _('Sign in') }}</legend>
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="email" class="col-md-2 control-label">{{ _('Email') }}</label>
                            <div class="col-md-10">
                                {{ form.email(class_="form-control") }}
                                {% if form.email.errors %}
                                    {% for error in form.email.errors %}
                                        <li><font color="red">{{ error }}</font></li>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-2 control-label">{{ _('Password') }}</label>
                            <div class="col-md-10">
                                {{ form.password(class_="form-control") }}
                                {% if form.password.errors %}
                                    {% for error in form.password.errors %}
                                        <li><font color="red">{{ error }}</font></li>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-offset-2">
                                &nbsp&nbsp&nbsp&nbsp{{ form.remember_me }} {{ _('Remember me') }}
                            </div>    
                        </div>
                        <div class="form-group">
                            <label for="human" class="col-md-2 control-label">{{ _('2+3=?') }}</label>
                            <div class="col-md-10">
                                {{ form.answer(class_="form-control") }}
                                {% if form.answer.errors %}
                                    {% for error in form.answer.errors %}
                                        <li><font color="red">{{ error }}</font></li>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <center><button type="submit" class="btn btn-primary">{{ _('Sign in') }}</button></center>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
