{% extends "layout.html" %}
{% block title %} - {{page}}{% endblock %}
{% block page %} / Products{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h3>{{ pt }}</h3>
  <br>
      <p>{{ pc |safe }}</p>
  <p>{{db_model}}
    <br>- <a href="/shop/Cosy-Bandana">Cosy Bandana</a>
    [ <a href="/shop/Cosy-Bandana/S">S</a> |
      <a href="/shop/Cosy-Bandana/M">M</a> |
      <a href="/shop/Cosy-Bandana/L">L</a>
    ]
    - <a href="/shop/Cosy-Loop">Cosy Loop</a></p>
    [ <a href="/shop/Cosy-Loop/XS-S">XS-S</a> |
      <a href="/shop/Cosy-Loop/S-M">S-M</a> |
      <a href="/shop/Cosy-Loop/M-L">M-L</a> |
      <a href="/shop/Cosy-Loop/L-XL">L-XL</a>
    ]
    - <a href="/shop/Cosy-Kaye">Cosy Kaye</a>
    [ <a href="/shop/Cosy-Kaye/XS-S">XS-S</a> |
      <a href="/shop/Cosy-Kaye/S-M">S-M</a> |
      <a href="/shop/Cosy-Kaye/M-L">M-L</a>
    ]
  <p>Loop through the list {{ db_list.length }}:</p>
    {% for n in db_list %}
        <table>
          <tr>
             {% if n.attributes %}
            <td>
              <ul>
                <li>{{ n.attributes['serial_number'] }}</li>
                <li>{{ n.attributes['pattern'] }}</li>
                <li>{{ n.attributes['color'] }}</li>
                <li>{{ n.attributes['size'] }}</li>
              </ul>
            </td>
            <td><img src="/static/products/{{ n.attributes['image_tn'] }}"></td>
            {% endif %}
            <td><a href="/product/{{n.id}}">Details</a> &nbsp;
              <a href="/cart/add/{{n.id}}">Buy</a>
              <br>{{n.id, n.code, n.description, n.name, n.template}}
              <br>{{session['currency_code']}} {{n.list_price, n.category}}
              <br>{{n.attributes}}
            </td>
          </tr>
        </table>
      <ul>
        {% for o in n.categories %}
        <li>{{o.id, o.name, o.parent}}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  <h3></h3>
{% endblock %}
