{% extends "layout.html" %}

{% block page_css %}
<style>
#small{
    font-size: 25px;
    padding: 3px 15px;
    border-radius: 20px;
    line-height: 1.428571429;
    background-color: #dfd3df;
}
#medium{
    width: 53px;
    height: 53px;
    font-size: 25px;
    padding: 7px 0px;
    border-radius: 25px;
    line-height: 1.428571429;
    background-color: #c3abc3;
}
#large{
    font-size: 25px;
    padding: 15px 25px;
    border-radius: 30px;
    line-height: 1.33;
    background-color: #a884a8;
}
#xlarge{
    width: 80px;
    height: 80px;
    font-size: 25px;
    border-radius: 35px;
    padding: 23px 0;
    line-height: 1.33;
    background-color: #8c5c8e;
}
.caption{
    text-align: center;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header" id="title">{{ category }}</h2>
            {{ pc |safe }}
        </div>
    </div>
    <center><h2 id="title">{{ _('Dimensions table: (Dog neck)') }}</h2></center>
    <center><p>{{ _('Please measure the neck of your dog, so you can be sure, you will order the right Cosy size.') }}</p></center>
    {% if category == 'Cosy-Bandana' %}
        <div class="row">
            <div class="col-md-2"></div>    
            <div class="col-md-3">
                <a href="/shop/Cosy-Bandana/S"><span class="badge" id="small">S</span></a>
                 26 - 29 cm
            </div>
            <div class="col-md-3">
                <a href="/shop/Cosy-Bandana/M"><span class="badge" id="medium">M</span></a>
                31 - 36 cm
            </div>
            <div class="col-md-3">
                <a href="/shop/Cosy-Bandana/L"><span class="badge" id="large">L</span></a>
                45 - 51 cm
            </div>
            <div class="col-md-1"></div>
        </div>            
    {% elif category == 'Cosy-Loop' %}
        <div class="row">
            <div class="col-md-2"></div>    
            <div class="col-md-2">
                <a href="/shop/Cosy-Loop/XS-S"><span class="badge" id="small">S</span></a>
                 26 - 29 cm
            </div>
            <div class="col-md-2">
                <a href="/shop/Cosy-Loop/S-M"><span class="badge" id="medium">M</span></a>
                31 - 36 cm
            </div>
            <div class="col-md-2">
                <a href="/shop/Cosy-Loop/M-L"><span class="badge" id="large">L</span></a>
                45 - 51 cm
            </div>
            <div class="col-md-2">
                <a href="/shop/Cosy-Loop/L-XL"><span class="badge" id="xlarge">XL</span></a>
                > 51 cm
            </div>
            <div class="col-md-2"></div>
        </div>            
    {% elif category == 'Cosy-Boomerang' %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <a href="/shop/Cosy-Boomerang/XS-S"><span class="badge" id="small">S</span></a>
                 26 - 29 cm
            </div>
            <div class="col-md-3">
                <a href="/shop/Cosy-Boomerang/S-M"><span class="badge" id="medium">M</span></a>
                31 - 36 cm
            </div>
            <div class="col-md-3">
                <a href="/shop/Cosy-Boomerang/M-L"><span class="badge" id="large">L</span></a>
                45 - 51 cm
            </div>
            <div class="col-md-1"></div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-2"></div>    
            <div class="col-md-3">
                <a href="/shop/Cosy-Kaye/XS-S"><span class="badge" id="small">S</span></a>
                 26 - 29 cm
            </div>
            <div class="col-md-3">
                <a href="/shop/Cosy-Kaye/S-M"><span class="badge" id="medium">M</span></a>
                31 - 36 cm
            </div>
            <div class="col-md-3">
                <a href="/shop/Cosy-Kaye/M-L"><span class="badge" id="large">L</span></a>
                45 - 51 cm
            </div>
            <div class="col-md-1"></div>
        </div>
    {% endif %}
    <center><h2 id="title">{{ _('Delivery Time') }}:</h2></center>
    <center><p>{{ _('4-7 working days within Switzerland, approximately 20 working days for overseas.') }}</p></center>
    <hr>
    <div class="row">
    {% for n in db_list %}
        <div class="col-md-3">
            <a href="/product/{{n.id}}">
                <div class="thumbnail">
                    <img class="img-responsive img-rounded" src="/static/products/{{ n.attributes['image_tn'] }}">
                </div>
            </a>
            <div class="caption">
                <p><b>{{n.name}} {{n.code}}</b></p>
                <p>{{n.list_price}} {{ session['currency_code'] }}</p>
                <p>&nbsp;&nbsp;{{ _('VAT incl., excluding <a href="/shipping">shipping</a>') }}</p>
                <h3><a href="/cart/add/{{n.id}}">
                    <span class="label label-primary">{{ _('Add to cart') }}</span></a></h3>
                <br>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
